@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #121212;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 2560px){
  .splide__slide{
  transform: scale(1); /* sets all slides to a scaling of 0.8 (80%) */
  display: inline-flex;  /* used for all slides vertical align center */
  vertical-align: middle; /* used for all slides vertical align center */
  display: flex;
  align-items: center;
  justify-content: center;
}
}

@media (max-width: 1920px){
.splide__slide{
  transform: scale(1); /* sets all slides to a scaling of 0.8 (80%) */
  display: inline-flex;  /* used for all slides vertical align center */
  vertical-align: middle; /* used for all slides vertical align center */
  display: flex;
  align-items: center;
  justify-content: center;
}
.splide__pagination{
  gap: 5px;

}
.splide__pagination li{
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
   display: flex;
  justify-content: center;
  align-items: center;
  

}
.splide__pagination li button{
  border-radius: 0;
  width: 25px;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.splide__pagination li button.is-active{
  width: 30px;
  transform: scale(1.05);

  opacity: 1;
}
}

@media (max-width: 1000px){
.splide__slide{
  transform: scale(1); /* sets all slides to a scaling of 0.8 (80%) */
  display: inline-flex;  /* used for all slides vertical align center */
  vertical-align: middle; /* used for all slides vertical align center */
  display: flex;
  align-items: center;
  justify-content: center;
}
.splide__slide.is-active{
  transform: scale(1);
}
.splide__slide.is-prev{
  transform: scale(0.95); /* sets the active slide to scaling of 1 (100%) */
}
.splide__slide.is-next{
  transform: scale(0.95); /* sets the active slide to scaling of 1 (100%) */
}
}


@media (min-width: 1280px) {
  .swiper.swiper-initialized.swiper-horizontal.swiper-pointer-events{
    height: 100%;
  }

.swiper-slide {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}
.swiper-slide.swiper-slide-active {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
